<!DOCTYPE html>
<html ng-app="stockman">
  <head>
    <title>Stockman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Stockman</h1>
      </div>
      <div class="row" ng-controller="PortfoliosCtrl">
        <div class="col-md-9">
            <h4>My Portfolios</h4>
            <div class="row" ng-repeat="portfolio in portfolios">
              <div class="col-md-9">
                {{ portfolio.name }}
                {{ portfolio.userId }}
                <input type="text" class="form-control" ng-model="portfolio.name" placeholder="Add Ticker">
                <button class="btn btn-default">Add</Button>
              </div>
            </div>
        </div>
        <div class="col-md-3">
              <form ng-submit="addPortfolio()">
                <input type="text" class="form-control" ng-model="portfolio.name"
                  placeholder="Create Portfolio">
                  <button class="btn btn-default">Add</Button>
              </form>

              <ul id="portfoliosQuick" class="list-unstyled">
                <li ng-repeat="portfolio in portfolios">
                  {{ portfolio.name }}
                </li>
              </ul>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/portfolio.js"></script>
  </body>
</html>
